@using BlazorApp.Models.Models;
@using BlazorApp.Models.ViewModels
@using BlazorApp.Service;
@using BlazorApp.Service.Repository;
@inject NavigationManager navigationManager
@inject IRefreshService RefreshService
@inject HttpClient _client



@if (View == "Create")
{
    <h3>Create Employee :</h3>
}

@if (View == "Update")
{
    <h3>Update Employee :</h3>
}



@if (View == "Delete")
{
    <h3>Delete Employee :</h3>
}

<EditForm Model="EmployeeViewModel" OnSubmit="HandleSubmit">

    @if (View == "Create" || View == "Update")
    {
        <div class="col-md-6 ">
            <label for="name">Name</label>
            <InputText id="name" @bind-Value="EmployeeViewModel.Name" class="form-control"></InputText>
        </div>
        <div class="col-md-6 ">
            <label for="developer">Email</label>
            <InputText id="developer" @bind-Value="EmployeeViewModel.Email" class="form-control"></InputText>
        </div>
        <div class="col-md-6 ">
            <label for="dateofbirth">Date Of Birth</label>
            <InputText id="dateofbirth" placeholder="mm/dd/yyyy" @bind-Value="EmployeeViewModel.DateOfBirth" class="form-control"></InputText>
        </div>
        <div class="col-md-6 ">
            <label for="department">Department</label>
            <InputText id="department" @bind-Value="EmployeeViewModel.Department" class="form-control"></InputText>
        </div>
        <br />
        <div class="col-md-6 ">
            <button type="submit" class="btn btn-primary">@btnText</button>
            <button type="button" class="btn btn-primary" @onclick="Cancel">Cancel</button>

        </div>
    }

    @if (View == "Delete")
    {

        <div  class="col-md-6 ">
            <span class="text-black"> Are you sure to delete record of employee @EmployeeViewModel.Name ? </span>
        </div>
        <br />
        <div  class="col-md-6 ">
            <button type="button" class="btn btn-danger" @onclick="DeleteEmployee">Delete</button>
            <button type="button" class="btn btn-primary" @onclick="Cancel">Cancel</button>
        </div>
    }



</EditForm>


@code {
    [Parameter]
    public EmployeeViewModel EmployeeViewModel { get; set; } = new();

    [Parameter]
    public bool IsAddSection { get; set; } = false;

    [Parameter]
    public string View { get; set; }

    private string btnText = string.Empty;

    protected override void OnInitialized()
    {
        btnText = IsAddSection ? "Save" : "Update";
    }

    async Task HandleSubmit()
    {
        if (IsAddSection)
        {
            await _client.PostAsJsonAsync<EmployeeViewModel>("https://localhost:7196/api/Employee/PostEmployee", EmployeeViewModel);
        }
        else
        {
            await _client.PutAsJsonAsync<EmployeeViewModel>("https://localhost:7196/api/Employee/UpdateEmployee", EmployeeViewModel);
        }
        RefreshService.CallRequestRefresh();
    }

    async Task DeleteEmployee()
    {
        await _client.DeleteAsync("https://localhost:7196/api/Employee/DeleteEmployee?id=" + EmployeeViewModel.Id);
        RefreshService.CallRequestRefresh();
    }

    async Task Cancel()
    {
        RefreshService.CallRequestRefresh();
    }
}
